@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2018/05/13/17/08/notebook-3397135__340.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Irish Grover', cursive;
}

div{
    background-color: rgb(207, 190, 190);
    margin: 2% 10%;
    padding: 50px;
    border-radius: 20px;
    opacity: 0.7;
}

h1{
    font-size: 50px;
    color: rgb(9, 83, 3);
}

label{
    font-size: 20px;
}

#question{
    font-size: 600;
}

textarea{
    width: 300px;
    height: 100px;
    background-color: rgb(216, 247, 210);
}